/* 
   CSS File for PicoHIDWeb
   Author - WireBits
*/

body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    overflow: hidden;
}
.container {
    background-color: black;
    width: 100%;
    max-width: 2000px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textareas-container {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.textarea {
    color: white;
    resize: none;
    width: 100%;
    max-width: 2000px;
    height: 440px;
    padding: 20px;
    border-color: #87CEEB;
    border-radius: 4px;
    background: #000000;
    font-family: "Courier New", Courier, monospace;
    box-sizing: border-box;
    overflow-y: auto;
}
button {
    color: white;
    padding: 14px 20px;
    margin: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 25%;
}
input[type="text"] {
    color: white;
    height: 45px;
	border-radius: 4px;
    border: 2px solid #D648D7;
    background: #000000;
    box-sizing: border-box;
	margin: 5px 10px;
	padding: 14px 20px;
}
.convert {
    background-color: #00AB66;
}
.copy {
    background-color: #FFC72C;
    color: black;
}
.reset {
    background-color: #FF033E;
}
.save {
    background-color: #7CB9E8;
    color: black;
}
.from {
    background-color: #a55f31;
}
.title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
    border: 2px solid orange;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 5px;
}
button:hover {
    opacity: 0.8;
}
input[type="file"] {
    display: none;
}
.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}
